body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80%;
    padding: 20px;
}

.calcDisplay{
    background-color: beige;
    height: 15%;
    width: 90%;
}

.numpad{
    margin-top: 20px;
    background-color: yellow;
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

#btn{ 
    background-color: green;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
}